<%- include('../v_layout/head') %>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<body>
    <link rel="stylesheet" href="/css-tambahan/layout_login.css">
    <main class="form-signin w-100 m-auto">
        <form method="post" action="/auth/proses-login">
          <img class="mb-4" src="/gambar/logo jo & mi new.jpeg" alt="logo"  height="157">
          <br>
          <% if (typeof notifikasi !== 'undefined') { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= notifikasi %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>            
          <% } %>
          <h1 class="h3 mt-3 mb-3 fw-normal">silakan masuk</h1>
      
          <div class="form-floating">
            <input type="email" class="form-control" name="form_email" placeholder="name@example.com">
            <label for="floatingInput">alamat Email </label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" name="form_password" placeholder="Password">
            <label for="floatingPassword">kata sandi</label>
          </div>
                
          <button class="btn btn-primary w-100 py-2" type="submit"> masuk </button>
          <p class="mt-5 mb-3 text-body-secondary">&copy; 2017 – 2024</p>
        </form>
      </main>
</body>
<%- include('../v_layout/foot') %>
